
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#D29468;
    
}

.row{
    margin:0;
}

img{
    max-width:100%;
    display:block;
}

.hero-section{
    position:relative;
    overflow:hidden;
    border:none;
}

.hero-section .card-img{
    width:100%;
    height:500px;
    object-fit:cover;
    display:block;
}

.hero-section .card-img-overlay{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:2rem;
}

.hero-title{
    font-size:4rem;
    font-weight:700;
    max-width:700px;
}

.hero-text{
    font-size:1.4rem;
    max-width:700px;
}

.section-title{
    display:flex;
    align-items:center;
    text-align:center;
    gap:16px;
    margin-bottom:20px;
}

.section-title::before,
.section-title::after{
    content:"";
    flex:1;
    height:2px;
    background:#ccc;
}


.icons{
    width:80px;
    margin:auto;
}


.side-img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.space .card-body{
    margin-left:0 !important;
}


.types{
    height:100%;
	display:flex;
	flex-direction:column;
    transition:0.3s;
}
.types .card-body{
	display:flex;
	flex-direction:column;
    justify-content:space-between;
}

.types img{
    height:220px;
    object-fit:cover;
}

.types:hover{
    transform:translateY(-5px);
}


.cup{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:30px;
    margin-top:70px;
    padding:20px;
}

.cup-info{
    width:100%;
    max-width:320px;
    margin:0;
}

.cup-info .card{
    width:100% !important;
}

.cup-img{
    width:100%;
    max-width:500px;
    text-align:center;
}

.cup-img img{
    width:100%;
    max-width:500px;
    margin:auto;
}



.carousel-inner img{
    height:400px;
    object-fit:cover;
}

.colorful-1{
    background:#5B3A29;
    border-radius:10px;
}

.colorful-2{
    background:#E8C15A;
    border-radius:10px;
}

.colorful-3{
    background:#6B442C;
    border-radius:10px;
}

.colorful-4{
    background:#AA784C;
    border-radius:10px;
}

.colorful-1 h5,
.colorful-2 h5,
.colorful-3 h5,
.colorful-4 h5{
    color:white;
}

.figure{
    width:100%;
}

.figure img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:10px;
}

.q-img{
    width:100%;
    height:100%;
   /* object-fit:cover;*/
    border-radius:10px;
}

.drop-img{
    width:100%;
    max-width:350px;
    height:auto;
    margin:auto;
}



.f-img{
    width:100%;
    max-height:220px;
    object-fit:cover;
}


.form{
    background:#D29468;
    padding:20px;
    border-radius:10px;
}

.form-img{
    width:100%;
    height:100%;
    max-height:465px;
    object-fit:cover;
    opacity:0.7;
    transition:0.5s;
    border-radius:10px;
}

.form-img:hover{
    opacity:1;
}

.content{
    margin-top:40px;
}

.heading{
    margin-left:2rem;
    display:flex;
    gap:16px;
    margin-bottom:20px;
}

.heading::after{
    content:"";
    flex:1;
    height:2px;
    background:#ccc;
    margin-top:25px;
}

.footer{
    margin-top:40px;
    background:#2E1B0E;
    color:silver;
    padding:40px 20px;

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    gap:30px;

    text-align:center;
}

.nav-img{
    width:100%;
    max-width:320px;
    border-radius:10px;
}

.foot{
    max-width:500px;
    padding:10px;
    margin:0;
}

.logo{
    margin-left:0;
}

.last{
    text-align:center;
}

.f-line{
    background:#1E1209;
    text-align:center;
    padding:10px;
    color:white;
}


/* Tablet */

@media (max-width:992px){

    .hero-section .card-img{
        height:400px;
    }

    .hero-title{
        font-size:3rem;
    }

    .hero-text{
        font-size:1.1rem;
    }
}


@media only screen and (max-width:768px){

      .hero-section .card-img{
        height:320px;
    }

    .hero-section .card-img-overlay{
        padding:1rem;
    }

    .hero-title{
        font-size:2rem;
        margin-bottom:10px;
    }

    .hero-text{
        font-size:0.9rem;
        line-height:1.5;
    }

    .hero-section .btn{
        margin-top:5px;
        margin-right:5px;
    }



    .carousel-inner img{
        height:250px;
    }

    .cup{
        flex-direction:column;
    }

    .cup-info{
        max-width:100%;
    }

    .drop-img{
        max-width:250px;
    }

    .section-title{
        font-size:1.5rem;
    }

    .footer{
        flex-direction:column;
        text-align:center;
    }

    .foot{
        width:100%;
    }
}



@media only screen and (max-width:576px){

     .hero-section .card-img{
        height:280px;
    }

    .hero-title{
        font-size:1.7rem;
    }

    .hero-text{
        font-size:0.8rem;
    }
    .icons{
        width:60px;
    }

    .carousel-inner img{
        height:200px;
    }
	.form-img,
	.q-img{
		display:none;
	}

    .figure img{
        height:180px;
    }
}